<!DOCTYPE html>
<html>
<head>
<title>Dai Anh Bui</title>
<link rel="stylesheet" href="css/theme.css">
</head>
<body>
  <nav class="bg-light">
    <div>
      <ul>
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>

        <li>
          <a class="nav-link" href="/list">List</a>
        </li>

        <li>
          <a class="nav-link" href="/audio">Audio</a>
        </li>

        <li>
          <a class="nav-link" href="/video">Video</a>
        </li>

        <li>
          <a class="nav-link" href="/table">Table</a>
        </li>

        <li><a class="nav-link" href="/storefront">Store Front</a></li>

      </ul>

    </div>

  </nav>
<p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</p>
<h1>The next section would be list.html</h1>
<p>This is my assignment 3 on how to connect between JS files and JSON file and display content on HTML file</p>
<li>What I have already learned:</li>
<p> 1) Development Environment / Technology / Tools
    Web Servers & HTTP Request / Response Paradigm
    HTTP Protocol Overview
    Verbs
    Status Codes
    Headers
    Request / Response Formats
</p> 
<p> 2) Node.js Introduction:
    What is Node.js / Why use it?
    Modules explained
    NPM – Node Package Manager
    Package.json Explained
    Building a simple web server using Node.js with Express.js
    Files / Directory Structure
    Downloading dependencies (Express.js) with NPM
    Coding a simple server using Express
    Sending Data back from a “get” request
</p> 

<p> 3) JavaScript Concept Review:
    Object Oriented JavaScript Review:
    Custom Objects using Object Literal Notation & Classes
    Advanced JavaScript / ES6 Features:
    “var” vs “let” vs “const”
    Error handling with try / catch / finally & throw
    Promises
    Arrow functions (lexical “this”)
</p> 

<p> 4 ) Notes	Express.js Introduction:
    
    What is Express.js?
    Configuration & Settings
    Routing
    Middleware
    Error Handling
    Chrome Dev tools – Network tab, Response data
</p> 

<p> 5) Notes	Processing Forms with Express.js:
    
    HTML Forms Review
    Processing Forms in Express.js
    HTTP Post & Urlencoded data
    Content-Type in POST header & enctype in HTML forms
    Handling urlencoded form data
    Multer module (multipart form data – file uploads)</p>
<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</p>

<h1>The next section would be list.html</h1>
<button class="btn-primary">Button</button>
</body>
</html>