<!DOCTYPE html>
<html>
<head>
<title>Dai Anh Bui</title>
<link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <nav class="bg-light">
        <div>
          <ul>
            <li>
              <a class="nav-link" href="home.html">Home</a>
            </li>
    
            <li>
              <a class="nav-link" href="list.html">List</a>
            </li>
    
            <li>
              <a class="nav-link" href="audio.html">Audio</a>
            </li>
    
            <li>
              <a class="nav-link" href="video.html">Video</a>
            </li>
    
            <li>
              <a class="nav-link" href="table.html">Table</a>
            </li>
    
            <li><a class="nav-link" href="storefront.html">Store Front</a></li>
    
          </ul>
    
        </div>
    
      </nav>

<p>Welcome to my website, I will be demonstrating the list html file</p>
<h1>The next section would be table.html</h1>
<p>My student name is Dai Anh Bui, my ID is 102629219 and currently I'm an international Computer Programming and Analysis (CPA) student at Seneca College</p>

<h1>The next section would be table.html</h1>
   

<ol>
    <b><li>Raw Beef</li></b>
    <dt>Nutrition:</dt>             
    <ul>Polyunsaturated: 0.44g</ul>
    <ul>Saturated: 8.87g</ul>
    <ul>Total Fat: 8.71g</ul>
    <dt>Calories: 88</dt>
    <hr>
    <b><li>Raw Lean Beef  </li> </b>
    <dt>Nutrition:</dt>             
    <ul>Polyunsaturated: 0.56g</ul>
    <ul>Saturated: 6.87g</ul>
    <ul>Total Fat: 7.71g</ul>
    <dt>Calories: 75</dt>
    <hr>
    <b><li>Grilled/Broiled Beef</li> </b>
    <dt>Nutrition:</dt>             
    <ul>Polyunsaturated: 0.72g</ul>
    <ul>Saturated: 4.87g</ul>
    <ul>Total Fat: 6.71g</ul>
    <dt>Calories: 107</dt>
    <hr>
    <b><li>Lamb</li> </b>
    <dt>Nutrition:</dt>             
    <ul>Polyunsaturated: 0.85g</ul>
    <ul>Saturated: 2.87g</ul>
    <ul>Total Fat: 5.71g</ul>
    <dt>Calories: 80</dt>
    <hr>
</ol> 
<button class="btn-primary">Button</button>


</body>
</html>