<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Dai Anh Bui</title>
<link rel="stylesheet" href="css/theme.css">
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="logo">
    <img src="logo.jpg" alt="Logo" width="125px">
  </div>
  <nav>
    <ul>  
      <li><a class="nav-link" href="/">Home</a></li>

      <li><a class="nav-link" href="/list">List</a></li>

      <li><a class="nav-link" href="/audio">Audio</a></li>

      <li><a class="nav-link" href="/video">Video</a></li>

      <li><a class="nav-link" href="/table">Table</a></li>

      <li><a class="nav-link" href="/storefront">Store Front</a></li>
    </ul>
  </nav>
</div>
</div>
      
<h1>Welcome to Store Front webpage</h1>
<img src="food.jpg" alt="Foods" width="100%">
<div>
<h2 class="title">Bananas, Bunch</h2>
<img class="item" src="banana.jpg" alt="Banana" width="auto">
<div class="price">$1.50(est.)ea</div>
<div class="price">$1.30/ 1kg$0.59/ 1lb</div>
<div class="price">Average weight is 1.15 KG</div>
</div>

<div>
  <h2 class="title">Strawberries</h2>
  <img class="item" src="Strawberry.jpg" alt="Strawberries" width="auto">
  <div class="price">$5.99ea</div>
  <div class="price">$1.32/ 100g</div>
  <div class="price">Average weight is 454 g</div>
  </div>
  
  
  
  <div>
    <h2 class="title">Tomato On The Vine Red (1 Bunch)</h2>
    <img class="item" src="tomatoes.jpg" alt="Tomato" width="auto">
    <div class="price">$2.65(est.)ea$3.12(est.)ea</div>
    <div class="price">$3.73/ 1kg$1.69/ 1lb</div>
    <div class="price">Average weight is 0.71 KG</div>
    </div>

    <div>
      <h2 class="title">Lemon</h2>
      <img class="item" src="lemon.jpg" alt="Lemon" width="auto">
      <div class="price">$0.99 ea</div>
      </div>


      <div>
        <h2 class="title">Broccoli Crowns</h2>
        <img class="item" src="BroccoliCrowns.jpg" alt="Broccoli Crowns" width="auto">
        <div class="price">$2.09(est.)ea</div>
        <div class="price">$5.49/ 1kg$2.49/ 1lb</div>
        <div class="price">Average weight is 0.38 KG</div>
        </div>


        <div>
          <h2 class="title">Asparagus</h2>
          <img class="item" src="asparagus.png" alt="Asparagus" width="auto">
          <div class="price">$6.49(est.)ea</div>
          <div class="price">$11.00/ 1kg$4.99/ 1lb</div>
          <div class="price">Average weight is 0.59 KG</div>
          </div>

          <div>
            <h2 class="title">Blueberries 1 pint</h2>
            <img class="item" src="blueberry.jpeg" alt="Blueberries 1 pint" width="auto">
            <div class="price">$4.99ea</div>
            <div class="price">$1.47/ 100g</div>
            <div class="price">Average weight is 340 g</div>
            </div>


            <div>
              <h2 class="title">Avocado</h2>
              <img class="item" src="avocado.jpg" alt="Avocado" width="auto">
              <div class="price">$1.49ea</div>
              </div>

              <div>
                <h2 class="title">Apples</h2>
                <img class="item" src="apples.jpg" alt="Banana" width="auto">
                <div class="price">$0.92(est.)ea$1.15(est.)ea</div>
                <div class="price">$4.39/ 1kg$1.99/ 1lb</div>
                <div class="price">Average weight is 0.21 KG</div>
                </div>

                <div>
                  <h2 class="title">Organic Sweet Potatoes</h2>
                  <img class="item" src="sweet-potatoes.jpg" alt="Organic Sweet Potatoes" width="auto">
                  <div class="price">$5.99ea</div>
                  <div class="price">$0.44/ 100g</div>
                  </div>

                  <div>
                    <h2 class="title">Whole Cremini Mushrooms</h2>
                    <img class="item" src="mushroom.jpg" alt="Mushrooms" width="auto">
                    <div class="price">$4.50ea</div>
                    <div class="price">$0.99/ 100g</div>
                    </div>
<br>
<button class="btn-primary">Button</button>
</body>
</html>