<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
<title>Dai Anh Bui</title>
<link rel="stylesheet" href="css/theme.css">
</head>
<body>

  <nav class="bg-light">
    <div>
      <ul>
        <li>
          <a class="nav-link" href="home.html">Home</a>
        </li>

        <li>
          <a class="nav-link" href="list.html">List</a>
        </li>

        <li>
          <a class="nav-link" href="audio.html">Audio</a>
        </li>

        <li>
          <a class="nav-link" href="video.html">Video</a>
        </li>

        <li>
          <a class="nav-link" href="table.html">Table</a>
        </li>

        <li><a class="nav-link" href="storefront.html">Store Front</a></li>

      </ul>

    </div>

  </nav>

<h1>Welcome to my website, I will be demonstrating the table html file</h1>
<table class="table" style="width:100%">
    <caption>Company Table</caption>
    <thead>
    <tr>
      <th colspan="1">Company</th>
      <th rowspan="5">Contact</th>
      <th>Country</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
</tfoot>
  </table>

  <button class="btn-primary">Button</button>

  <p>This table describe company names  with country name of that company located and name of a representative person of that company</p>
</body>
</html>