<!DOCTYPE html>
<html>
<head>
<title>Dai Anh Bui</title>
<link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <nav class="bg-light">
        <div>
          <ul>
            <li>
              <a class="nav-link" href="/">Home</a>
            </li>
    
            <li>
              <a class="nav-link" href="/list">List</a>
            </li>
    
            <li>
              <a class="nav-link" href="/audio">Audio</a>
            </li>
    
            <li>
              <a class="nav-link" href="/video">Video</a>
            </li>
    
            <li>
              <a class="nav-link" href="/table">Table</a>
            </li>
    
            <li><a class="nav-link" href="/storefront">Store Front</a></li>
    
          </ul>
    
        </div>
    
      </nav>
<p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</p>
<h1>The next section would be table.html</h1>
<p>This is my assignment 3 on how to connect between JS files and JSON file and display content on HTML file</p>
<h2>HTML5 Video</h2>
		<figure>
			<video width="460" height="480" controls="controls">
			  <source src="./waterfall.mp4" type="video/mp4">
		  </video>
		  <figcaption> Video caption - WaterFall </figcaption>
		  </figure>
          <p>The video above describe duration about the beautiful fall that looks fantastic!!!</p>
		  <button class="btn-primary">Button</button>
</body>
</html>